@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {font-family: 'Montserrat', 'sans-serif';}

.swiper-button-next, .swiper-button-prev{
    transform: scale(0.5);
    /* background: rgb(68, 61, 61); */
    color: #FF8700 !important;
    /* padding-top: 10px !important; */

  }
.swiper-pagination-bullet {
    width: 8px !important;
    height: 4px !important;
    border-radius: px !important;
    bottom: 40px !important;
   
}
.swiper-pagination-bullet-active {
    background: #0089cddf !important;
    width: 10px !important;
}
.swiper-pagination {
    bottom: 10px !important;
}